<div class="nav-header">
    <img class = "house" src="https://img.icons8.com/material-sharp/24/000000/home.png"/>
  <h1 class="heading" style="margin-bottom: 0px">Topics</h1>
</div>
<div style="background: #01002a">
  <% @topics.each_with_index do |topic, index|  %>
    <div class="accordion planetaccord" id="accordionExample" >
      <div class="card">
        <div class="card-header" id=<% index %>>
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-item<%= index %>" aria-expanded="true" aria-controls="collapseOne">
            <%# <%= image_tag topic.name.split(" ").map(&:downcase).join("_") %>
            <%= cl_image_tag(topic.name.split(" ").map(&:downcase).join("_"), height: 90)%>
            </button>
          </h2>
          <div id="accordion-item<%= index %>" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample" >
            <div class="card-body">
              <% Deck.where(topic: topic).each do |deck| %>
                <div id="deck">
                  <%= link_to deck_flashcard_path(deck, deck.flashcards.first) do %>
                    <%= deck.name %>
                    <div class="number-badge" style="margin-left: 5px;">
                      <%= deck.flashcards.count %>
                    </div>
                  <% end %>
                </div>
                <%# link not working %>
                <%# <p>Deck: <%= deck.name<br></p> %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
